@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

    /* DISEÑO GENERAL */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style-type: calc();
    scroll-behavior: smooth;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: #0052cc;
    color: whitesmoke;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 40px;
    padding: 10px;
    background-color: #0080ff;
    outline-style: solid;
    outline-color: #0080ff;
    outline-width: 30px;
    border-radius: 1px;
    align-items: baseline;
}

nav ul li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

a {
    color: whitesmoke;
}

a:visited {
    color: whitesmoke;
}

h1:hover, a:hover, h3:hover {
    color: #b8502e;
}

p {
    margin: 5px;
    padding: 5px;
}

.infopersonal {
    margin: 5px;
    padding: 15px;
    background-color: #4775d1;
    border-radius: 5px;
}

.sobre-mi {
    display: flex;
    align-items: center;
}

img {
    border-radius: 100px;
}

.contacto {
    margin: 5px;
    padding: 15px;
    background-color: #2e5cb8;
    border-radius: 5px;
}

.experiencia {
    margin: 5px;
    padding: 15px;
    background-color: #3333cc;
    border-radius: 5px;
}

.habilidades {
    margin: 5px;
    padding: 15px;
    background-color: #0000ff;
    border-radius: 5px;
}

#detalles {
    display: none;
}

#detalles-2 {
    display: none;
}

#detalles-3 {
    display: none;
}

#detalles-4 {
    display: none;
}

.boton-detalles:hover {
    /*background: #ff96ad;*/
    background: #ff3333;
    box-shadow: 0 0 5px #ff3333, 0 0 25px #ff3333, 0 0 50px #ff3333, 0 0 200px #ff3333;
}

.boton-volver {
	font-size: 20px;
	color: black; 
	border-radius: 10px; 
	background-color: #4d4d4d;
	padding: 8px;
	position: fixed;
	bottom: 20px;
	right: 7px;
	z-index: 1;
    opacity: 0.7;
}

 
/* DISEÑO PARA MOVILES */
@media only screen and (max-width: 600px) {
    
    header {
        font-size: 12px;
    }
    
    .infopersonal {
        margin: 5px;
        padding: 15px;
        background-color: #4775d1;
        border-radius: 5px;
    }
    
    .sobre-mi {
        display: block;
    }

    figure {
    text-align: center;
    }

    .boton-volver {
		font-size: 14px;
		padding: 8px;
		bottom: 20px;
		right: 20px;
	}
  }